#pattern  filter=crypt diff=crypt merge=crypt
projects/coupeDesMaisons/src/environments/environment.ts filter=crypt diff=crypt merge=crypt
projects/coupeDesMaisons/src/environments/environment.prod.ts filter=crypt diff=crypt merge=crypt
projects/coupeDesMaisons/src/firebase-messaging-sw.js filter=crypt diff=crypt merge=crypt
projects/coupeDesMaisons/src/firebase-messaging-sw.prod.js filter=crypt diff=crypt merge=crypt