<div class="row" *ngIf="!!utilisateurConnecte">

	<div [class]="'col-'+colDeltaGauche"></div>

	<ng-template [ngIf]="annee">
		<div *ngFor="let groupe of annee.groupes" [class]="'col-'+largeurCol">
			<div class="logoMaison text-center" (click)="afficherSaisieDeScore()">
				<img class="imageAdaptee" [alt]="groupe.nom" [src]="groupe.photo" />
			</div>
			<div class="scoreMaison text-center">
				{{groupe.scoreCalcule}}
			</div>
		</div>
	</ng-template>

	<div [class]="'col-'+colDeltaDroite"></div>

</div>