<div class="row" *ngIf="!!utilisateurConnecte">
	<div class="col-4">
		<div class="logoMaison text-center" (click)="afficherSaisieDeScore()">
			<img class="imageAdaptee" alt="Groupe1" src="/assets/images/rogue.png" />
		</div>
		<div class="scoreMaison text-center">
			300
		</div>
	</div>
	<div class="col-4">
		<div class="logoMaison text-center" (click)="afficherSaisieDeScore()">
			<img class="imageAdaptee" alt="Groupe2" src="/assets/images/rogue.png" />
		</div>
		<div class="scoreMaison text-center">
			300
		</div>
	</div>
	<div class="col-4">
		<div class="logoMaison text-center" (click)="afficherSaisieDeScore()">
			<img class="imageAdaptee" alt="Groupe3" src="/assets/images/rogue.png" />
		</div>
		<div class="scoreMaison text-center">
			300
		</div>
	</div>
</div>