/** Pour centrer les scores en hauteur */
.scoreMaison:before {content: '';display: inline-block;height: 100%;vertical-align: middle;margin-right: -0.25em;}
.scoreMaison {display: inline-block; vertical-align: middle;}

/** Sur téléphone en paysage uniquement */
@media only screen and (max-device-width: 736px) and (orientation: landscape) {
    .ligneBlason { height: 80%!important; }
    .ligneScore { height: 20%!important; }
}

/** Sur téléphone en protrait uniquement */
@media only screen and (max-device-width: 736px) and (orientation: portrait) {
    /** Pour modifier le comportement de col-4 en col-12 en portrait */
    .col-4 { width:100%; }
    .logoMaison>img { max-height: 150px; }
}
  
