<ng-template [ngIf]="!!utilisateurConnecte && annee">
	<div class="row ligneBlason">
		<div *ngIf="colDeltaGauche>0" [class]="'col-'+colDeltaGauche"></div>
		<div *ngFor="let groupe of annee.groupes" [class]="'col-' + largeurCol + ' logoMaison text-center'"
			(click)="afficherSaisieDeScore()">
			<img class="imageAdaptee" [alt]="groupe.nom" [src]="groupe.photo" />
		</div>
		<div *ngIf="colDeltaDroite>0" [class]="'col-'+colDeltaDroite"></div>
	</div>
	<div class="row ligneScore">
		<div *ngIf="colDeltaGauche>0" [class]="'col-'+colDeltaGauche"></div>
		<div *ngFor="let groupe of annee.groupes" [class]="'col-' + largeurCol + ' scoreMaison text-center'">
			{{groupe.scoreCalcule}}
		</div>
		<div *ngIf="colDeltaDroite>0" [class]="'col-'+colDeltaDroite"></div>
	</div>
</ng-template>