<div id="page" class="container-fluid">

	<!-- Utilisateur connecté -->
	<div class="row" *ngIf="!!utilisateurConnecte">
		<div class="col-12">
			{{utilisateurConnecte.nom}} est connecté
		</div>
	</div>

	<!-- Formulaire de connexion-->
	<div class="row" *ngIf="!utilisateurConnecte">
		<div class="col-12">
			<mat-form-field appearance="fill">
				<mat-label>Nom d'utilisateur</mat-label>
				<input matInput type="text" [(ngModel)]="nomUtilisateur">
			</mat-form-field>
		</div>
		<div class="col-12">
			<mat-form-field appearance="fill">
				<mat-label>Mot de passe</mat-label>
				<input matInput type="secret" [(ngModel)]="motDePasse">
			</mat-form-field>
		</div>
	</div>
</div>